<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Now you're soaring with Luno!</title>
		<!-- link rel="stylesheet" type="text/css" media="screen" href="{{staticServer}}/css/base.css" -->
    </head>
    <body>
		<h1>{{ title }} - {{ message }}</h1>

		<p>
			Thanks for trying out the extreme alpha of Luno. It's still a work in progress, as you can probably tell - 
			this project aims to take the best concepts from the most popular web frameworks out there (mostly Django, though, because the author is
			biased as hell). Luno requires <a href="http://nodejs.org/" title="Node.js">Node.js</a> (which you can probably tell if you're reading this by now).
		</p>


		<h2>Basic Tutorial...?</h2>
		<p>
			I've gone ahead and written a basic tutorial below, to help people get running.
			With any luck, it'll cause people to contribute patches or something, so here 
			goes. ;D
		</p>

		<ol>
			<li>git clone git://github.com/ryanmcgrath/luno.git</li>
			<li>cd luno</li>
			<li>sudo node install.js</li>  
			<li>luno startproject your_project_name</li>  
			<li><em>Optionally, also do luno startapp your_app_name</em></li>
			<li>cd your_project_name, configure settings, define urls/views/etc</li>  
			<li>luno runserver</li>
		</ol>

		<p>Seriously, life has never been this cool. ;D</p>

		<p>
			<strong>~ Ryan McGrath</strong>
			<em>ryan (at) venodesigns [.] net | http://twitter.com/ryanmcgrath</em>
		</p>

		<p id="footer">
			Luno is an open source web framework, written with Javascript on top of <a href="http://nodejs.org/" title="Node.js">Node.js</a>.
		</p>
	</body>
</html>
